* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

/*Header section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    
}

.logo-and-name {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(77, 77, 77);
    transition: color 1s;
}

.navbar a:hover {
    color: rgb(3, 255, 255);
}

.academy {
    color: rgb(0, 31, 63);
    font-weight: 100;
    letter-spacing: 2px;
}

.colmar-capital {
    letter-spacing: 2px;
}

.logo {
    height: 32px;
    margin-left: 24px;
}

.navbar li {
    margin: 0 8px;
}

.navbar li:last-child {
    margin-right: 24px;
}

.mobile-nav {
    display:none
}

@media only screen and (max-width:680px) {
    .logo-and-name {
        display: none;
    }

    header nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
}
    
/*Banner section*/
.banner-img {
    width: 60%;
    margin: 32px 24px;

}

.banner {
    background-color:  rgb(0, 31, 63);
    margin-top: 50px;
    display: flex;
    align-items: center;
    position: relative;
    top: 14px;
    width: 100%;
}

.banner-text {
    display: flex;
    flex-direction: column;
}

.banner-text a {
    text-decoration: none;
    color: rgb(245, 245, 220);
}

.banner-text h1 {
    font-size: 45px;
    color: rgb(245, 245, 220);
    margin-bottom: 30px;
}

.banner-text p {
    font-size: 30px;
    color: rgb(245, 245, 220);
    margin-bottom: 40px;
}

.banner-text button {
    font-size: 30px;
    width: 90%;
    padding: 8px 0;
    color: white;
    background-color: rgb(51, 51, 51);
    border: none; 
    transition: background-color 0.5s ease;   
}

.banner-text button:hover {
    background-color: rgb(3, 255, 255);
    text-shadow: black 1px 0 10px;
}

/*Banner mobile version*/
.mobile-banner-img {
    width: 100%;
}

.banner-mobile {
    display: none;
}

@media only screen and (max-width:680px) {
    .banner {
        display: none;
    }

    .banner-mobile {
        display: flex;
        flex-direction: column;
    }

    .mobile-banner-img {
        position: relative;
        top: 64px;
    }

    .mobile-description {
        position: relative;
        top: 64px;
        background-color: rgb(216, 216, 216);
    }

    .mobile-description h1 {
        margin: 32px 0 32px 16px;
        color: rgb(51, 51, 51); 
        font-size: 45px;
    }

    .mobile-description p {
        margin: 24px 16px;
        color: rgb(51, 51, 51);
        font-size: 30px;
    }

    .mobile-description button {
        margin-left: 16px;
        margin-bottom: 32px;
        width: 90%;
        font-size: 30px;
        color: white;
        background-color: rgb(148, 148, 148);
        border: none;
        padding: 8px 0;
    }
}

/*News desktop section*/
.news-left {
    width: 60%;
}

.img-left {
    position: relative;
    top: 14px;
    width: 90%;
    margin: 32px 24px;
}

.news-left h2 {
    margin-left: 24px;
    font-size: 45px;
    width: 90%;
    color: rgb(51, 51, 51);
    margin-bottom: 24px;
}

.news-left p {
    margin-left: 24px;
    width: 90%;
    font-size: 18px;
    color: rgb(83, 83, 83);
    margin-bottom: 32px;
}

.news-desktop-section {
    display: flex;
}

.orientation {
    height: auto;
    width: 35%;
    margin: 16px;
}

.news-right {
    width: 40%;
    position: relative;
    top: 14px;
    right: 17px;
    margin-top: 32px;
    border-left: 1px solid gray;
}

.section-one {
    display: flex;
    border-bottom: 1px solid gray; 
    border-top: 1px solid grey;
    transition: background-color 1s ease;
}

.section-one:hover {
    background-color: rgb(3, 255, 255);
}

.orientation-info {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orientation-info h3 {
    margin-bottom: 8px;
    color: rgb(51, 51, 51);
}

.orientation-info p {
    margin-bottom: 8px;
}

.date {
    color: rgb(51, 51, 51);
}

.readmore a {
    text-decoration: none;
    color: rgb(0, 31, 63);
}

.section-two {
    display: flex;
    border-bottom: 1px solid gray; 
    border-top: 1px solid grey;
    position: relative;
    top: 1px;
    transition: background-color 1s ease;
}

.section-two:hover {
    background-color: rgb(3, 255, 255);
}

.campus-img {
    height: auto;
    width: 35%;
    margin: 16px;
}

.campus-info {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campus-info h3 {
    margin-bottom: 8px;
    color: rgb(51, 51, 51);
}

.campus-info p {
    margin-bottom: 8px;
}

.section-three {
    display: flex; 
    border-top: 1px solid grey;
    position: relative;
    top: 2px;
    transition: background-color 1s ease;
    
}

.section-three:hover {
    background-color: rgb(3, 255, 255);
}

.img-guest-lecture {
    height: auto;
    width: 35%;
    margin: 16px;
}

.lecturer-info {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lecturer-info h3 {
    margin-bottom: 8px;
    color: rgb(51, 51, 51);
}

.lecturer-info p {
    margin-bottom: 8px;
}

.mobile-news {
    display: none;
}

/*News mobile section*/
@media only screen and (max-width:680px) {
    .news-desktop-section {
        display: none;
    }

    .mobile-news {
        display: flex;
        flex-direction: column;
    }

    .mobile-news img {
        margin: 16px;
    }

    .mobile-news-container {
        position: relative;
        top: 64px;
    }

    .mobile-news-container h3 {
        margin-left: 32px;
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 30px;
        color: rgb(37, 37, 37);
    }

    .mobile-news-container p {
        margin-left: 32px;
        margin-bottom: 16px;
        font-size: 20px;
    }
}

/*Start learning desktop section*/
.start-learning-wrapper {
    background-color: rgb(216, 216, 216);
    margin-top: 30px;
}

.start-learning {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.start-learning h2 {
    font-size: 45px;
    color: rgb(51, 51, 51);
}

.learning-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 72px;
    margin-right: 72px;
}

.software {
    width: 532px;
    background-color: white;
    margin-bottom: 32px;
}

.computer-art {
    width: 532px;
    background-color: white;
    margin-bottom: 32px;
}

.design {
    width: 532px;
    background-color: white;
    margin-bottom: 32px;
}

.data {
    width: 532px;
    background-color: white;
    margin-bottom: 32px;
}

.business {
    background-color: white;
    margin-bottom: 32px;
}

.marketing {
    background-color: white;
    margin-bottom: 32px;
}

.course {
    color: rgb(51, 51, 51);
    margin-left: 16px;
    margin-top: 16px;
}

.capital {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    color: grey;
}

.course-description {
    margin-left: 16px;
    margin-bottom: 24px;
    color: grey;
}

.start-learning-mobile-wrapper {
    display: none;
}

/*Start learning section mobile version*/
@media only screen and (max-width: 680px) {
    .start-learning-wrapper {
        display: none;
    }

    .start-learning-mobile-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 94px;
        text-align: center;
        border-top: 1px solid grey;
    }

    .start-learning-mobile {
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .module {
        padding: 16px 0 24px 16px;
        margin: 8px 16px;
        background-color: rgb(216, 216, 216);
    }

    .module:last-child {
        margin-bottom: 32px;
    }
}








