* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

/*Header section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    
}

.logo-and-name {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.navbar a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.academy {
    color: rgb(77, 77, 77);
}

.logo {
    height: 32px;
    margin-left: 24px;
}

.navbar li {
    margin: 0 8px;
}

.navbar li:last-child {
    margin-right: 24px;
}

.mobile-nav {
    display:none
}

@media only screen and (max-width:550px) {
    .logo-and-name {
        display: none;
    }

    header nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
}
    
/*Banner section*/
.banner-img {
    width: 60%;
    margin: 32px 24px;

}

.banner {
    background-color: rgb(209, 209, 209);
    margin-top: 50px;
    display: flex;
    align-items: center;
    position: relative;
    top: 14px;
    width: 100%;
}

.banner-text {
    display: flex;
    flex-direction: column;
}

.banner-text h1 {
    font-size: 45px;
    color: rgb(51, 51, 51);
    margin-bottom: 30px;
}

.banner-text p {
    font-size: 30px;
    color: rgb(51, 51, 51);
    margin-bottom: 40px;
}

.banner-text button {
    font-size: 40px;
    width: 90%;
    padding: 8px 0;
    color: white;
    background-color: rgb(51, 51, 51);
    border: none;
}






 
